/* General styling */
.container {
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: var(--fade-in);
}

.hero {
  height: 500px;
  width: 100%;
  background-image: url("/assets/images/christmas-ball.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  width: 100%;
  background-color: var(--background-color);
  flex: 1;
  padding: var(--spacing-large) var(--spacing-xl);
}

/* Form section */
.formSection {
  width: 100%;
  padding: var(--spacing-large);
}

/* Description */
.formDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding: var(--spacing-large) var(--spacing-small);
  font-family: var(--main-font);
}

.formDescription h1 {
  width: 125px;
  color: var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  padding-bottom: 4px;
  font-size: var(--large-font);
}

.formDescription p {
  color: var(--text-color);
  max-width: 75%;
  font-weight: 400;
  line-height: 1.4;
}
p span {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
  .hero {
    height: 300px;
    background-size: contain;
  }
  main {
    padding: var(--spacing-medium);
  }
  .formDescription p {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 250px;
  }
}
