.navbarContainer {
  background-color: var(--navbar-background);
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing-medium) var(--spacing-small);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-family: var(--main-font);
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 20;
}

/* Default desktop: logo shown, white background */
.navbar {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}

/* LOGO */
.logoContainer {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-large);
}

.logoLink {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: var(--logo-font);
  transition: opacity 0.2s ease-in-out;
}

.logoLink:hover {
  text-decoration: underline;
}

/* LINKS */
.navLinks {
  display: flex;
  align-items: center;
  gap: var(--spacing-large);
  list-style: none;
  padding-right: var(--spacing-medium);
  transition: all 0.3s ease;
}

.navLinks a {
  color: var(--text-color);
  font-size: var(--medium-font);
  text-decoration: none;
}

.navLinks a:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.navLinks a.active {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

/* SCROLLED STATE (desktop only) */
@media screen and (min-width: 826px) {
  .scrolled {
    backdrop-filter: blur(2px);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
  }

  .scrolled .logoContainer {
    display: none;
    pointer-events: none;
  }

  .scrolled .navbar {
    justify-content: center;
  }

  .scrolled .navLinks a {
    color: var(--text-color);
  }

  .scrolled .navLinks a.active,
  .scrolled .navLinks a:hover {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
  }
}

/* MENU (mobile only) */
.menuButton {
  background-color: transparent;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  padding: var(--spacing-small);
  transition: 0.2s ease;
  z-index: 10;
}

.menuButton:hover {
  box-shadow: 0 0 4px var(--secondary-color);
}

.menuIcon {
  color: var(--secondary-color);
  width: 16px;
}

/* MOBILE */
@media screen and (max-width: 825px) {
  .navbar {
    justify-content: space-between;
    padding: 0 var(--spacing-medium);
  }

  .logoContainer {
    display: block;
    opacity: 1;
  }

  .menuButton {
    display: flex;
  }

  .navLinks {
    width: 50%;
    height: 100vh;
    background-color: var(--navbar-background);
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    gap: 0;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 1;
  }

  .navLinksActive {
    transform: translateX(0);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
  }

  .navLinks li {
    width: 100%;
    text-align: center;
  }

  .navLinks a {
    display: block;
    width: 100%;
    padding: var(--spacing-medium);
    font-size: var(--medium-font);
  }

  .navbar .navLinks li:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
  }
  .navLinks a:hover {
    color: var(--secondary-text-color);
  }

  .navLinks .active {
    display: inline-block;
    width: 100%;
    padding-bottom: var(--spacing-medium);
  }
}

@media screen and (max-width: 500px) {
  .navLinks {
    width: 100%;
  }

  .logoLink {
    font-size: var(--medium-font);
  }
}
