@font-face {
  font-family: "PlayfairDisplay";
  src: url("/public/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "GreatVibes-Regular";
  src: url("/public/assets/fonts/CinzelDecorative-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* corrected from 0 */
  list-style: none;
}

a,
button {
  cursor: pointer;
}

/* Variables */
:root {
  /* Colors */
  --text-color: #1f2937; /* dark gray/brown for text */
  --secondary-text-color: #f9fafb; /* light text for contrast */
  --background-color: #dc2626; /* warm cream background */
  /* --background-color: #fef6ee; warm cream background */
  --secondary-background-color: #047857; /* Christmas tree green */
  --navbar-background: #fcfcfc; /* darker green for navbar */
  --primary-color: #7c3aed; /* purple accent for buttons/links */
  --accent-gold: #a28010; /* gold for links or highlights */

  /* Buttons */
  --secondary-color: #dc2626; /* Christmas red for buttons/accent */
  --header-button-color: #10b981; /* green button */
  --header-button-hover: #059669; /* darker green on hover */

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-xl: 4rem;

  /* Font */
  --main-font: "PlayfairDisplay", sans-serif;
  --logo-font: "GreatVibes-Regular", sans-serif;
  --small-font: 0.75rem;
  --base-font: 1rem;
  --medium-font: 1.2rem;
  --large-font: 2rem;
  --xl-font: 3rem;

  /* Border */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
}
