@font-face {
  font-family: "PlayfairDisplay";
  src: url("/public/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "GreatVibes-Regular";
  src: url("/public/assets/fonts/CinzelDecorative-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  min-width: 350px;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

/* Variables */
:root {
  /* Colors */
  --text-color: #1f2937; /* dark gray/brown for text */
  --secondary-text-color: #f9fafb; /* light text for contrast */
  --background-color: #f9fafb; /*warm cream background*/
  --secondary-background-color: #047857; /* Christmas tree green */
  --navbar-background: #fcfcfc; /* darker green for navbar */
  --primary-color: #7c3aed; /* purple accent for buttons/links */
  --accent-gold: #a28010; /* gold for links or highlights */
  --text-muted: #ffffff;
  --radio-highlight: #047857;
  --error-color: #ffd261;

  /* Buttons */
  --secondary-color: #b22222; /* Christmas red for buttons/accent */
  --header-button-color: #10b981; /* green button */
  --header-button-hover: #059669; /* darker green on hover */

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-xl: 4rem;

  /* Font */
  --main-font: "PlayfairDisplay", sans-serif;
  --logo-font: "GreatVibes-Regular", sans-serif;
  --small-font: 0.75rem;
  --base-font: 1rem;
  --medium-font: 1.2rem;
  --large-font: 2rem;
  --xl-font: 3rem;

  /* Border */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;

  /* Animations */
  --fade-in: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
